
<mat-card>
    <mat-card-title>Team Stats</mat-card-title>
    <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="35px">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="30%"> 
                <app-spinner title="Intelligence" [value]='intelligence'></app-spinner>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="30%"> 
                <app-spinner title="Strength" [value]='strength'></app-spinner>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="30%"> 
                <app-spinner title="Speed" [value]='speed'></app-spinner>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="35px">
        
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="30%"> 
                <app-spinner title="Durability" [value]='durability'></app-spinner>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="30%"> 
                <app-spinner title="Power" [value]='power'></app-spinner>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="30%"> 
                <app-spinner title="Combat" [value]='combat'></app-spinner>
            </div>
        </div>
        <div class="details">
            <h2>Weight average: {{weight}} kg</h2>
            <h2>Height average: {{height}} cm</h2>
        </div>

    </mat-card-content>
</mat-card>

