<mat-card class="hero-card">
    <mat-card-header>
        <div mat-card-avatar 
            [ngClass]="{'good-hero': hero.biography.alignment == 'good', 'bad-hero': hero.biography.alignment == 'bad', 'neutral-hero': hero.biography.alignment == 'neutral'}"
        ></div>
      <mat-card-title>{{ hero.name }}</mat-card-title>
      <mat-card-subtitle>{{ hero.biography.publisher || "Unknown" }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="hero.image.url" [alt]="hero.name">
    <div class="stats">
        <app-bar title="Intelligence" [value]="hero.powerstats.intelligence"></app-bar>
        <app-bar title="Strength" [value]="hero.powerstats.strength"></app-bar>
        <app-bar title="Speed" [value]="hero.powerstats.speed"></app-bar>
        <app-bar title="Durability" [value]="hero.powerstats.durability"></app-bar>
        <app-bar title="Power" [value]="hero.powerstats.power"></app-bar>
        <app-bar title="Combat" [value]="hero.powerstats.combat"></app-bar>
    </div>
    <mat-card-actions class="action-buttons">
        <button mat-button [routerLink]="['/hero', hero.id]">VIEW</button>
        <button mat-button (click)="addHero()">ADD</button>
        <button mat-button (click)="removeHero()">REMOVE</button>
    </mat-card-actions>
</mat-card>