<mat-grid-list cols="4" rowHeight="550px">
    <mat-grid-tile [colspan]=2>
        <div class='home-section'>
            <app-user-card></app-user-card>
        </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=2>
        <div class='home-section'>
            <app-team-stats></app-team-stats>
        </div>
    </mat-grid-tile>

  </mat-grid-list>


<div class='home-section'>
    <app-my-team></app-my-team>
</div>

<div class='home-section'>
    <app-search-hero></app-search-hero>
</div>